html, body {
	font-family: "Noto Sans JP", sans-serif;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	position:fixed;
	top: 0;
	background: linear-gradient(90deg, rgba(242,230,255,0.95), rgba(255,255,255,0.95) 250px);
}

header form {
	position: sticky;
	top: 0;
}

header p {
	margin:0;
}
header p + p {
	margin-top: 0.4rem;
}

header div.content {
	width: 1100px;
	margin: auto;
	padding: 0.6rem 1rem;
}

header .h4 {
	width: 5rem;
	text-align: justify;
	margin-right: 1.4rem;
	display: inline-block;
}

header input[type="text"], header select {
	width: 22rem;
	height: 1.8rem;
	line-height: 1.8rem;
	margin-right: 0.2rem;
	padding:0 0.4rem;
	border: none;
	border-radius: 4px;
	box-sizing: content-box;
	box-shadow: 0 1px 2px rgba(0,0,0,0.4);
	vertical-align: top;
	-webkit-appearance: none;
}

a#submit {
	color: #fff;
	height: 1rem;
	line-height:1rem;
	text-decoration: none;
	padding:0.45rem 0.4rem;
	border-radius: 4px;
	background: #60c;
	display: inline-block;
}


#page {
	width: 1100px;
	margin: 11.5rem auto 0 auto;
	padding: 0 1rem;
}

table {
	width: 100%;
	font-size: 0.9rem;
	border-spacing: 0;
	table-layout: fixed;
	overflow-x: scroll;
	border-collapse: collapse;
}

tr th {
	color: #fff;
	text-align: left;
	font-weight: normal;
	padding: 0.2rem 0;
	background: #60c;
}
tr th:first-child {
	padding-left: 0.4rem;
}

td {
	line-height: 1.4em;
	padding: 0.2rem 0;
	border-bottom: solid 1px #ccc;
	vertical-align: top;
}

td a.syllabus {
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 0.8rem;
	margin: 0.2rem 0;
	padding: 0.1rem 0.3rem;
	color: #63c;
	border-radius: 1rem;
	background: linear-gradient(30deg, #f2e6ff, #fff);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	display: inline-block;
}

td a.syllabus:hover {
	color: #fff;
	background: #63c;
}

td {
	padding-right: 0.4rem;
}

tr *:nth-child(1) { width: 14rem; }
tr *:nth-child(2) { width: 5rem; }
tr *:nth-child(3) { width: 5rem; }
tr *:nth-child(4) { width: 6rem; }
tr *:nth-child(5) { width: 6rem; }
tr *:nth-child(6) { width: 6rem; }
tr td:nth-child(7) {
	width:18rem;
	line-height: 1.3em;
	font-size: 0.6rem;
}
tr td:nth-child(8) {
	line-height: 1.3em;
	font-size: 0.6rem;
}

footer {
	text-align: center;
	margin: 1rem 0 2rem 0;
}